body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(39 39 42);
    color: #cacaca;
    background-color: #272727;
    font-family: 'Roboto', sans-serif;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.tab-buttons-container {
    position: relative;
    border-radius: 6px;
    background-color: #4F4F4F;
    padding: 3px;
    margin-bottom: -24px;
    border: #949A9F;
    color: #cacaca;
}

.tab-button-active {
    border-radius: 6px;
    background-color: #2271AF;
    padding-top: 4px;
    padding-bottom: 4px;
    border: #949A9F;
    color: #cacaca;
}

.tab-button-unactive {
    border-radius: 6px;
    background-color: #4F4F4F;
    padding-top: 4px;
    padding-bottom: 4px;
    border: #949A9F;
    color: #cacaca;
}

.tab-button-active:hover {
    background-color: #144870;
}

.tab-button-active:active {
    background-color: #14375e;
}

.tab-button-unactive:hover {
    background-color: #707070;
}

.tab-button-unactive:active {
    background-color: #606060;
}

.tabs-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.tab-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    margin-top: 5px;
    width: 95%;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    border-radius: 4px;
}

.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2E2E2E;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
}

.tab-title {
    background-color: #3B3B3B;
    border-radius: 4px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    text-align: center;
}

.computer-uptime-text {
    align-self: flex-start;
    margin-top: 6px;
    margin-left: 4px;
}

.screen-time-widgets-container {
    width: 100%;
    height: auto;
}

.screen-time-widget {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #272727;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
}

.rename-button {
    display: flex;
    margin-left: auto;
    margin-right: 6px;
    padding: 0px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: #F0F0F0;
    border-radius: 4px;
}

.restore-button:hover,
.delete-button:hover,
.rename-button:hover {
    background-color: #dadada;
}

.restore-button:active,
.delete-button:active,
.rename-button:active {
    background-color: #bebebe;
}

.delete-button {
    display: flex;
    padding: 0px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: #F0F0F0;
    border-radius: 4px;
}

.screen-time-progressbar-container {
    background-color: #333333;
    height: 12px;
    width: 100%;
    border-radius: 3px;
    margin-top: 8px;
    margin-bottom: 12px;
}

.screen-time-progressbar {
    background-color: #2271AF;
    height: 12px;
    width: 75%;
    border-radius: 3px;
}

.deleted-widget {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #272727;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 4px;
    padding: 10px;
    height: 100%;
    width: 100%;
}

.restore-button {
    display: flex;
    margin-left: auto;
    margin-right: 6px;
    padding: 0px;
    width: 50px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: #F0F0F0;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}